{% extends 'layout.html' %}

{%block main%}

<ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li><span>作品编辑</span></li>
</ol>

<h3>作品编辑</h3>

<div class="form-group">
    <label for="category">所属分类</label>
    <select name="category" id="category" class="form-control">
        {% for item in categories %}

        {% if item.name == work.category.name %}
        <option name="item" id="item" value="{{ item.id }}" selected="selected">{{ item.name }}</option>
        {% else %}
        <option name="item" id="item" value="{{ item.id }}">{{ item.name }}</option>
        {% endif %}

        {% endfor %}
    </select>
</div>



<input type="hidden" name="id" id="id" value="{{ work.id }}">

<!--<div class="form-group">-->
    <!--<label>项目封面</label>-->
    <!--<img src="{{ work.imageUrl }}" alt="" style="display: none;" id="hidden-image">-->
    <!--<div id="cover-pic-toolbar">-->
      <!--<span class="ql-formats">-->
        <!--<button class="ql-image"></button>-->
      <!--</span>-->
    <!--</div>-->
    <!--<div id="cover-pic-editor" style="min-height: 100px;"></div>-->
<!--</div>-->

<div class="form-group">
    <label>封面地址</label>
    <input type="text" class="form-control" id="image-url" placeholder="请输入封面地址" value="{{ work.imageUrl }}">
</div>



<div class="form-group">
    <label>名称</label>
    <input type="text" class="form-control" id="name" placeholder="请输入作品名称" value="{{ work.name }}">
</div>



<div class="form-group">
    <label>简介</label>
    <textarea id="description" rows="3" class="form-control" placeholder="请输入简介">{{ work.description }}</textarea>
</div>


<div class="form-group">
  <label>演示地址</label>
  <input type="text" class="form-control" id="demo-url" placeholder="请填写项目演示地址" value="{{ work.demoUrl }}">
</div>

<div class="form-group">
  <label>线上地址</label>
  <input type="text" class="form-control" id="online-url" placeholder="(选填)请填写项目线上地址" value="{{ work.onlineUrl }}">
</div>

<div class="form-group">
  <label>二维码地址</label>
  <input type="text" class="form-control" id="code-url" placeholder="(选填)请填写需要转成二维码的地址" value="{{ work.codeUrl }}">
</div>


<button type="button" id="submit" class="btn btn-primary">提交</button>


<!--<link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">-->
<!--<script src="https://cdn.quilljs.com/1.2.6/quill.js" type="text/javascript"></script>-->

<script src="/public/js/baseurl.js"></script>
<script>

//    var quill_cover_pic = new Quill('#cover-pic-editor', {
//        modules: {
//            toolbar: '#cover-pic-toolbar'
//        },
//        placeholder: '请点击上方图标选择图片',
//        theme: 'snow'
//    });

//    var temp = { image:$('#hidden-image').attr('src')}
//    quill_cover_pic.setContents([{
//        insert: temp
//    }]);

    $('#submit').on('click',function () {
        var imagesUrl = $('#image-url').val() ? $('#image-url').val(): '';
        var demoUrl = $('#demo-url').val() ? $('#demo-url').val(): '';
        var onlineUrl = $('#online-url').val() ? $('#online-url').val(): '';
        var codeUrl = $('#code-url').val()? $('#code-url').val(): '';

        $.ajax({
            type:'POST',
            url:'/api/work/edit',
            data:{
                id:$('#id').val(),
                category: $('#category').val(),
                name: $('#name').val(),
                //imageUrl:quill_cover_pic.getContents().ops[0].insert.image,
                imageUrl:imagesUrl,
                description: $('#description').val(),
                demoUrl: demoUrl,
                onlineUrl: onlineUrl,
                codeUrl: codeUrl
            },
            success:function (responseData) {
                if(responseData.message == 'success'){
                    alert('修改成功');
                    window.location.href = baseUrl+'/admin/work';
                }else{
                    alert(responseData.message);
                }
            }
        });
    });

</script>


{% endblock%}
